
.bgcolor {
	background: linear-gradient(to right, #1cd454, #14a841);
	display: flex;
  justify-content: center;
	align-items: center;
}

.labelstyles {
	padding: 5;
	font-weight: bold;
	text-align: center;
	margin-left: 50px;
	color: #222b45;
	font-weight: bold;
}

.containerstyles {
	height: 20;
	width: 90%;
	background-color: #e0e0de;
	border-radius: 50px;
}